<h3>Why don't you play a game against our resident mouse!</h3>
	<section>
		<article>
			<img src='images/Rock.png' alt='The Rock Gesture' data-height='200' data-gesture='Rock'/>
			<p>Rock</p>
		</article>
		<article>
			<img src='images/Paper.png' alt='The Paper Gesture' data-height='200' data-gesture='Paper'/>
			<p>Paper</p>
		</article>
		<article>
			<img src='images/Scissors.png' alt='The Scissors Gesture' data-height='200' data-gesture='Scissors'/>
			<p>Scissors</p>
		</article>	
	</section>


<script src='http://code.jquery.com/jquery-2.1.1.min.js'></script>
<script src='JavaScript/RockPaperScissors.js'></script>
<script src='JavaScript/game.js'></script>




