@font-face {
   font-family: Waltograph; 
   src: url('fonts/waltograph42.ttf');
}

body {
	background-color: #ffffff;
}

header {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

h1 {
	font-family: 'Waltograph', cursive;
	font-size: 4em;
	letter-spacing: 3px;
	}

h3 {
	font-family: 'Waltograph', cursive;
	font-size: 3em;
	letter-spacing: 2px;
	text-align: center;
}

h3.result{
	color: red;
}

section {
	display: flex;
	width: 800px;
	margin: 0px auto;
}

article {
	margin: 50px auto;
	height: 300px;
}

p {
	font-family: 'Waltograph', cursive;
	font-size: 2em;
	text-align: center;
	letter-spacing: 3px;
}

img:hover {
	cursor: pointer;
}